.entries.cf
  %a{href: '#', :'data-win_id' => @entries[0].id, :'data-lose_id' => @entries[1].id}
    .entry
      .black-card
        = @entries[0].black_card
        .icon
          Cards Against Humanity
      .white-card
        = @entries[0].white_card
        .icon
          Cards Against Humanity

  .vs
    VS!
    %br
    %br
    %br
    %a{href: '#'}
      %i.icon-refresh

  %a{href: '#',  :'data-win_id' => @entries[1].id, :'data-lose_id' => @entries[0].id}
    .entry
      .black-card
        = @entries[1].black_card
        .icon
          Cards Against Humanity
      .white-card
        = @entries[1].white_card
        .icon
          Cards Against Humanity

%h1 Last Round

- if @small_entries
  .small-entries.cf
    .third
      %a{href: "/entries/#{@small_entries[:last_win_id].id}", class: 'cf'}
        .entry
          %h2 Winner
          .black-card
            = @small_entries[:last_win_id].black_card
          .white-card
            = @small_entries[:last_win_id].white_card
      %ul
        %li Wins: #{@small_entries[:last_win_id].wins || 0}
        %li losses: #{@small_entries[:last_win_id].losses || 0}
        %li Draws: #{@small_entries[:last_win_id].draws || 0}

    .third
      %a{href: "/entries/#{@small_entries[:last_lose_id].id}", class: 'cf'}
        .entry
          %h2 Loser
          .black-card
            = @small_entries[:last_lose_id].black_card
          .white-card
            = @small_entries[:last_lose_id].white_card
      %ul
        %li Wins: #{@small_entries[:last_lose_id].wins || 0}
        %li losses: #{@small_entries[:last_lose_id].losses || 0}
        %li Draws: #{@small_entries[:last_lose_id].draws || 0}
